- form_remote_for [@product, @product.comments.new] do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label "text"
    %br
    = f.text_area :body, :rows => 5, :cols => 35
  %p
    = f.hidden_field :parent_id, :value => params[:reply_to]
  %p
    = f.submit 'Create'
