<% semantic_form_for @product, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
   >
    <%= f.input :title %>
  </p>
  <p>
  
    <%= f.input :description %>
  </p>
  <p>
    
    <%= f.input :price %>
  </p>
  <p>
 
    <%= f.input :photo %>
  </p>

  <p><%= f.submit %></p>
<% end %>


