<% title "Product" %>

<p>
  <strong>Title:</strong>
  <%=h @product.title %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @product.description %>
</p>
<p>
  <strong>Price:</strong>
  <%=h @product.price %>
</p>
<p>
  <strong>Photo File Name:</strong>
  <%=h @product.photo_file_name %>
</p>
<p>
  <strong>Photo Content Type:</strong>
  <%=h @product.photo_content_type %>
</p>
<p>
  <strong>Photo File Size:</strong>
  <%=h @product.photo_file_size %>
</p>
<p>
  <strong>Photo Updated At:</strong>
  <%=h @product.photo_updated_at %>
</p>

<p>
  <%= link_to "Edit", edit_product_path(@product) %> |
  <%= link_to "Destroy", @product, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", products_path %>
</p>
